{% load static %}
<div class="amenities-list color-text-a">
  <ul class="list-a no-margin">
    {% for am in amentites %}
    <li> {{am.name}} </li>
    {% endfor %}
  </ul>
</div>
</div>
</div>
</div>
<div class="col-md-10 offset-md-1 wow fadeInUpBig">
  <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab"
         aria-controls="pills-video" aria-selected="true">Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-plans-tab" data-toggle="pill" href="#pills-plans" role="tab" aria-controls="pills-plans"
         aria-selected="false">Floor Plans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map"
         aria-selected="false">Ubication</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
      <iframe src="https://www.youtube.com/embed/{{plan_detail.video_url}}" width="100%" height="460" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="tab-pane fade" id="pills-plans" role="tabpanel" aria-labelledby="pills-plans-tab">
      {% comment %} {% if plan_detail.flowPlan_Image  %}
      <img width="100%" height="500px" src="{{plan_detail.flowPlan_Image.url}}" alt="No Image">
      {% endif %} {% endcomment %}
       <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
            {% for img in Galleries %}
            <div class="carousel-item-b carousel-detail">
              <img src="{{img.Image.url}}" alt="img" class="floor-plans-img">
            </div>
            {% endfor %}
          </div>
    </div>
    <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
      {{plan_detail.locationFrame|safe}}
    </div>
  </div>
</div>

{% comment %} <div class="row">
  <div class="col-md-6 col-lg-4">
    <img src="{% static 'img/agent-4.jpg' %}" alt="" class="img-fluid">
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="property-agent">
      <h4 class="title-agent">Anabella Geller</h4>
      <p class="color-text-a">
        Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
        dui. Quisque velit nisi,
        pretium ut lacinia in, elementum id enim.
      </p>
      <ul class="list-unstyled">
        <li class="d-flex justify-content-between">
          <strong>Phone:</strong>
          <span class="color-text-a">(222) 4568932</span>
        </li>
        <li class="d-flex justify-content-between">
          <strong>Mobile:</strong>
          <span class="color-text-a">777 287 378 737</span>
        </li>
        <li class="d-flex justify-content-between">
          <strong>Email:</strong>
          <span class="color-text-a">annabella@example.com</span>
        </li>
        <li class="d-flex justify-content-between">
          <strong>Skype:</strong>
          <span class="color-text-a">Annabela.ge</span>
        </li>
      </ul>
      <div class="socials-a">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> {% endcomment %}


</div>
</div>
</div>
</div>
</section>
<!--/ Property Single End /-->

{% comment %} paymentPlans {% endcomment %}
{% if paymentPlans %}
<h2 id="title">Payment Plans </h2> 
<div class="hover-table-layout">
{% for plans in paymentPlans %}
    <div class="listing-item">
        <figure class="image">
            <img src="{% static 'img/logo/logo-img.jpg' %}" alt="image">
            <figcaption>
              <div class="caption">
                <h1>  </h1>
                <p></p>
              </div>
            </figcaption>
        </figure>
       <div class="listing">
            <h4>{{plans.Instalment_name}}</h4>
            <h4>{{plans.Installment_date}} </h4>

        </div> 
    </div>
      {% endfor %}

</div>
{% endif %}

{% comment %} invesments plan {% endcomment %}
<div class="main-container">
  <div class="heading">
    <h1 class="heading__title">Invesment Plans</h1>

  </div>
  <div class="cards">
  {% if invesments %}
    {% for plans in invesments %}
    <div class="card card-1">
      <h2 class="card__title"> {{plans.investmentPlan}} </h2>
      <p>  {{plans.investmentDetails}} </p>

      <p class="card__apply">
        <a class="card__link" href="#">Apply Now </a>
      </p>
    </div>
    
    {% endfor %}
  {% endif %}
   
  </div>
</div>







 <section class="contact ">

    <div class="container">
      <div class="row">
      
        <div class="col-sm-12 section-t8 wow fadeInUpBig">
                 <h3 class="title-d prop-heading">Property Inquiry Form</h3>
          <div class="row">
            <div class="col-md-7">
              <form class="form-a contactForm" action="" method="post" role="form">
               
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                    
                       {{form.name}}
                       
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                        {{form.email}}
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                        {{form.phone}}
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                       {{form.Subject}}
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                        {{form.Question}}
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-a">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-paper-plane"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Say Hello</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">Email.
                      <span class="color-a">contact@example.com</span>
                    </p>
                    <p class="mb-1">Phone.
                      <span class="color-a">+54 356 945234</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-pin"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Find us in</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">
                      Manhattan, Nueva York 10036,
                      <br> EE. UU.
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box">
                <div class="icon-box-icon">
                  <span class="ion-ios-redo"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Social networks</h4>
                  </div>
                  <div class="icon-box-content">
                    <div class="socials-footer">
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>