 <!-- Footer Start -->
    <section class="section-footer">
    <div class="container">
        <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget-a">
            <div class="w-header-a">
                <h3 class="w-title-a text-brand">Logo Here</h3>
            </div>
            <div class="w-body-a">
            </div>
            </div>

        </div>

        <div class="col-md-3 col-sm-6">
            <div class="widget-a">
            <div class="footer-info-single">
                <div class="w-header-a">
                <h3 class="w-title-a text-brand">Explore</h3>
                </div>
                <div class="w-body-a">
                <div class="w-body-a">
                    <ul class="list-unstyled">
                    <li class="item-list-a">
                        <i class="fa fa-angle-double-right"></i> <a href="#">Sales</a>
                    </li>
                    <li class="item-list-a">
                        <i class="fa fa-angle-double-right"></i> <a href="#">Leasing</a>
                    </li>
                    <li class="item-list-a">
                        <i class="fa fa-angle-double-right"></i> <a href="#">Living in Dubai</a>
                    </li>
                    <li class="item-list-a">
                        <i class="fa fa-angle-double-right"></i> <a href="#">Our Team</a>
                    </li>
                    <li class="item-list-a">
                        <i class="fa fa-angle-double-right"></i> <a href="#">Contact Us</a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="widget-a">
            <div class="w-header-a">
                <h3 class="w-title-a text-brand">Our Offices</h3>
            </div>
            <div class="w-body-a">
                <div class="w-body-a">
                <ul class="list-unstyled">
                    <li class="item-list-a">
                    <i class="fa fa-angle-double-right"></i> <a href="#">Head Office</a>
                    </li>
                    <li class="item-list-a">
                    <i class="fa fa-angle-double-right"></i> <a href="#">Arabian Ranches</a>
                    </li>
                    <li class="item-list-a">
                    <i class="fa fa-angle-double-right"></i> <a href="#">Off Plan & Investments</a>
                    </li>
                    <li class="item-list-a">
                    <i class="fa fa-angle-double-right"></i> <a href="#">Account & Marketing</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="widget-a">
            <div class="w-header-a">
                <h3 class="w-title-a text-brand">The Company</h3>
            </div>
            <p>Sample HTML page with Twitter's Bootstrap. Code example of Easy Sticky Footer using HTML,
                Javascript, jQuery, and CSS. This bootstrap tutorial covers all the major elements of
                responsive</p>
            </div>
        </div>

        </div>
    </div>


    <div class="container">
        <div class="row align-items-center">
        <div class="col-md-12 text-center">
            <nav class="nav-footer">
            <ul class="list-inline">
                <li class="list-inline-item">
                <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="list-inline-item">
                <a href="#">About</a>
                </li>
                <li class="list-inline-item">
                <a href="{% url 'property-grid' %}">Off Plan Property</a>
                </li>
                <li class="list-inline-item">
                <a href="#">Blog</a>
                </li>
                <li class="list-inline-item">
                <a href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            </nav>

            <section class="pb-3">
            <div class="row">

                <div class="col-md-12 col-lg-12 text-center">
                <a class="btn btn-outline-light btn-floating m-1"
                    style="border-radius: 50%; border: 1px solid rgba(255, 255, 255, 0.2);" role="button"><i
                    class="fa fa-facebook"></i></a>

                <a class="btn btn-outline-light btn-floating m-1"
                    style="border-radius: 50%; border: 1px solid rgba(255, 255, 255, 0.2);" role="button"><i
                    class="fa fa-twitter"></i></a>

                <a class="btn btn-outline-light btn-floating m-1"
                    style="border-radius: 50%; border: 1px solid rgba(255, 255, 255, 0.2);" role="button"><i
                    class="fa fa-google"></i></a>
                </div>
            </div>
            </section>
        </div>
        </div>
    </div>
    </section>

    <!-- Footer Ends -->